@model Friendzone.Core.DTO.EventDTO


<!--Image for event-->
<div class="col-lg-3">
    <div class="circle" > 
        <div class="box avatar-wrapper">
            <img src="~/files/events/1535625669_59.jpg">
        </div>
    </div>
</div>

<div class="col-lg-7">
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.DateFrom)</dt>
        <dd>@(Model.DateFrom.ToShortDateString())</dd>

        <dt>@Html.DisplayNameFor(model => model.DateTo)</dt>
        <dd>@(Model.DateTo.Date.ToShortDateString())</dd>

        <dt>@Html.DisplayNameFor(model => model.City)</dt>
        <dd>@Html.DisplayFor(model => model.City.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>Categories</dt>
        <dd>
            | 
            @foreach (var c in Model.CategoryNames)
            {
                @c <text> | </text>
            }

        </dd>

        <dt>Organized by</dt>
        <dd>@Html.DisplayFor(model => model.OwnerUserId) (visitor preview component will be here)</dd>
        
        <dt>Visitors</dt>
        @if (Model.Visitors.Count > 0)
        {
            <dd>@Model.Visitors.Count</dd>
        }
        else
        {
            <dd>You can be first visitor!</dd>
        }

    </dl>
</div>
<div class="col-lg-2">
    <!--<a class="btn btn-default" href="~api/Event/@Model.Id/details">Details</a>-->
    <a class="btn btn-default" href="#">Details</a>
</div>
